body {
  font-size: 16px;
}

p {
  margin: 0;
  padding: 0;
}

.board {
  display: flex;
  width: 600px;
  height: 600px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.square {
  height: 200px;
  width: 200px;
  box-sizing: border-box;
  border: 2px solid black;
  &:hover {
    cursor: pointer;
    background-color: whitesmoke;
  }
}

.title, .display {
  padding: 1em;
  width: 600px;
  box-sizing: border-box;
  border: 2px solid black;
  text-align: center;
}

.display {
  font-size: 2em;
}

.new-game span {
  border: 2px #000 solid;
  padding: 5px;
}
